/*Source Sans Pro 300, 400 & 700*/
/*Architects Daugther 400*/

/*Estilos para Celular*/
/*Cambios en general*/
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro',sans-serif;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:black;
}
button:focus{
  border:0;
  outline:0;
}
/* Estilos para el banner del inicio de la pagina*/
.banner-dinamic-news{
  padding: 0;
  margin:0;
  background-color: #E91E63;
  color:white;
  border:0;
  text-align: center;
  font-size: xx-small;
}
/*estilos de la barra superior donde se encuentra el logo, el icono de carrito y de usuario*/
header #menu{
  background-color: transparent;
  border-radius: 14px;
  top:18px;
}
/*Background dinamico de la barra superior con JQuery*/
.bg-primary{
  transition: all 0.8s ease;
  background-color: rgba(0, 188, 212,0.96) !important;
  position:fixed;
  top:0px !important;
}
header #menu .input-button-navbar{
  display:none;
}
header #menu .input-button-navbar #search{
  opacity:0.9;
  position: absolute;
  right: 10px;
  top:3px;
  font-size: 20px;
  border: 0;
  color: white;
  background-color: transparent;
  padding-left:5px;
}
header #menu .input-button-navbar .search-form{
  position:relative;
}
header #menu .input-button-navbar .form-control{
  color:white;
  background-color: transparent;
  border-radius: 35px;
  border: 1.6px solid rgba(255,255,255,0.7);
}
header .form-control::placeholder {
  color:white;
}
header #menu .logo img{
    width: 55%;
}
header #menu .logo{
  text-align: center;
}
header #menu .icono-shop-user i{
  color:white;
  font-size: 0.8em;
}
header #menu .icono-shop-user .line{
  font-weight: 300;
  opacity: 0.3;
  font-size: 1.22em;
}
header #menu .icono-shop-user .far{
  font-size: 0.9em;
}
header #menu .icono-shop-user #cart-shop{
    font-size: 65%;
    position: absolute;
    top: 5px;
    right: 10px;
    color: aqua;
}
header #menu .icono-shop-user #cart-shop span{
  position: absolute;
  font-size: 90%;
  z-index: 100;
  top:1px;
  right: 3px;
}
header #menu .line-menu{
  background-color: transparent;
  color:white;
}
/*estilos correspondientes al navbar que se usa con un modal emergente*/
header .modal.fade .modal-dialog{
      -webkit-transform: translate(-400px,0);
    transform: translate(-400px, 0);
}

header .modal.show .modal-dialog{
  -webkit-transform: none;
  transform:none;
}
header .modal{
  overflow-y: scroll;
}
header .modal-dialog-scrollable .modal-body {
  overflow-y: hidden;
}
header .modal .modal-dialog{
  max-width:70vw;
  margin:0;
}
header .modal .modal-setup {
  height: 100vh;
  overflow-y: scroll;
  display:block;
}
header .modal .modal-setup .modal-header .icons-navbar{
  display:inline-block;
}
header .modal .modal-setup .modal-header .icons-navbar img{
  width:14%;
  margin:2px;
}
header .modal .modal-dialog-scrollable .modal-content {
  max-height: 100vh;
  overflow:scroll;
  overflow-x:auto;
}
.modal-open {
  overflow: auto;
}
header .modal .modal-header{
  flex-direction: column;
  width:100%;
  padding-bottom: 3px;
}
header .modal .modal-header .close{
  padding: 0rem 0.5rem;
  font-size: 2.2rem;
}
header .modal .modal-header .input-navbar{
  padding-top:30px;
  width:66vw;
}
header .modal .modal-header .search-form{
  position:relative;
  display:flex;
  width:inherit;
}
header .modal .modal-header .input-navbar .form-control-navbar{
  display:block;
  width:100%;
  border:none;
  height: 40px;
  background-color: rgb(241, 243, 243);
  padding:5px;
  outline:0;
}
header .modal .modal-header #search{
  position: absolute;
  right:2px;
  color:black;
  font-size: 20px;
  background: transparent;
  border:0;
  height: 40px;
}
header .modal .modal-header .login-navbar{
  display:none;
}
header .modal .modal-body .links-navbar ul{
  line-height: 40px;
  list-style: none;
  font-weight: bolder;
  font-size:1.1rem;
}
header .modal .modal-body .links-navbar ul a{
  color:black;
}
header .modal .modal-body .links-navbar ul a:hover{
  text-decoration: none;
}
header .modal .modal-body .links-navbar ul .arrows-navbar{
  float:right;
}
header .modal .modal-body .links-navbar .card-header{
  border-bottom: 0;
  background:white;
}
header .modal .modal-body .item-list-accordion{
  width:60vw;
}

main .container-fluid{
  padding:0px;
}
/*configuraciones dentro del area de carousel*/
main #carouselExampleCaptions{
  width:100%;
}
main .banner #carouselExampleCaptions .minh-100{
  height: 100%;
  width:99vw;
  margin:0;
}
main .banner #carouselExampleCaptions .button-news{
  position:absolute;
  z-index: 101;
}
main .banner #carouselExampleCaptions .button-news .button-setup-news{
  background: transparent;
  border:2px solid white;
  border-radius: 20px;
  font-weight: bold;
  font-size:1rem;
  color:white;
}
main .banner #carouselExampleCaptions .carousel-item p{
  font-size:1.5rem;
  font-weight: bold;
}
/*estilos para las secciones de imagenes*/
main .photo-box article img{
  width:100%;
  position:relative;
}
main .photo-box article h3{
  position: absolute;
  top:25%;
  left:0;
  right: 0;
  color:white;
  text-align:center;
  font-weight: bolder;
  font-family: 'Architects Daughter', cursive;
}
main .photo-box .first-row-photo{
  width: 100%;
  margin:0;
}
main .photo-box .first-row-photo article{
  padding: 6px;
}

/*estilos para el carousel de iconos informativos*/
main .icons-send-box .setup{
  width:100%;
  padding:6px;
}
main .icons-send-box .carousel .carousel-item .card{
  border:0;
}
main .icons-send-box .setup .card i{
  font-size:85px;
  text-align: center;
}
main .icons-send-box .setup .card .card-body p{
  text-align: center;
}
main .icons-send-box .setup .carousel .carousel-indicators li{
  width: 10px;
  border-radius: 100%;
  background: black;
  opacity:0.2;
}
main .icons-send-box .setup .carousel ol{
  margin:0;
}
main .icons-send-box .setup .carousel .carousel-control-prev{
  width:4%;
  color: black;
}
main .icons-send-box .setup .carousel .carousel-control-next{
  width:4%;
  color: black;
}
main .icons-send-box .setup .carousel .carousel-indicators .active {
  opacity: 0.7;
}
.second-row-photo article .product-div1{
  position:relative;
  overflow:hidden;
}
.second-row-photo article .product-div1:hover img{
  transform: scale(1.1);
}
.second-row-photo article .product-div1 img{
  transform: scale(1);
}
.second-row-photo article .product-div1 .transition, .first-row-photo article .product-div2 .transition{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.first-row-photo article .product-div2{
  position:relative;
  overflow:hidden;
}
.first-row-photo article .product-div2:hover .text-view{
   top: 50%;
   opacity:1;
}
.first-row-photo article .product-div2:hover img{
  opacity:.6;
}
.first-row-photo article .product-div2 .text-view{
  position:absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity:0;
  color:white;
  text-align:center;
}
.first-row-photo article .product-div2 .text-view h2{
  font-weight: bolder;
  font-size: 3.5rem;
}
main .second-row-photo{
  padding:0;
  margin:0;
  height: 100%;
}
main .second-row-photo .promo-photo{
  padding:6px
}

/*scroll de la ventana principal en escritorio*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/*Estilos para tablet*/
@media(min-width:768px){   
  header #menu{
    top:18px;
  }
  .banner-dinamic-news{
    font-size: small;
  }
  header #menu .icono-shop-user{
    font-size: 1.4em;
  }
  header #menu .icono-shop-user a, #menu .icono-shop-user .line{
    transition: all 1s ease;
    visibility: visible !important;
    font-family:none;
  }
  header #menu span.fas{
    transition: all 1s ease;
    font-size: 1.3em;
  }
  header #menu .logo img{
    transition: all 1s ease;
    width: 30%;
  }
  header #menu .icono-shop-user #cart-shop{
    top: 6px;
    right: 6px;
  }
  header #menu .icono-shop-user #cart-shop span{
  top:-0.5px;
  right: 4px;
  }
  header .modal .modal-dialog{
    max-width:40vw;
    margin:0;
  }
  header .modal{
    padding-left:0 !important;
  }
  header .modal .modal-header .input-navbar{
    padding-top:40px;
    width:38vw;
  }
  header .modal .modal-header #search{
    right:2px;
  }
  header .modal .modal-body .item-list-accordion{
    width:35vw;
  }
  /*estilos del area de imagenes*/
  main .photo-box article h3{
    top:28%;
    font-size: 3rem;
  }
  .first-row-photo article .product-div2 .text-view h2{
    font-size: 5rem;
  }
}
/*Estilos para Escritorio*/
@media(min-width:1024px){
  header #menu .icono-shop-user{
    font-size: 1.85em;
  }
  header #menu .icono-shop-user a, #menu .icono-shop-user .line{
    transition: all 1s ease;
    visibility: visible !important;
    font-family: none;
  }
  header #menu span.fas{
    transition: all 1s ease;
    font-size: 1.9em;
  }
  header #menu .logo img{
    transition: all 1s ease;
    width: 30%;
  }
  header #menu .icono-shop-user #cart-shop{
    top: 10px;
    right: 37px;
  }
  header #menu .icono-shop-user #cart-shop span{
  top:1px;
  right: 5px;
  } 
  header #menu .input-button-navbar{
    display:flex;
  }
  header .modal .modal-header .login-navbar{
    font-size:1rem;
  }
  header .modal .modal-dialog{
    max-width:28vw;
  }
  header .modal .modal-header .login-navbar{
    display:flex !important;
    width:100%;
    justify-content: center;
  }
  header .modal .modal-header .login-navbar li{
    list-style: none;
    display:inline-block;
  }
  header .modal .modal-header .login-navbar li a:hover{
    text-decoration: none;
    color:black;
  }
  header .modal .modal-body .item-list-accordion{
    width:24vw;
  }
  main .banner #carouselExampleCaptions .button-news .button-setup-news{
    font-size:1.5rem;
  }
}