
/*Estilos para Celular*/
/*Cambios en general*/
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
a{
  color:black;
  text-decoration: none;
}
a:focus{
  text-decoration: none;
  color:black;
}
button:focus{
  border:0;
  outline:0;
}
.container-fluid{
  padding:0 3px 3px 3px;
}
/*estilos de la barra superior donde se encuentra el logo, el icono de carrito y de usuario*/
#menu{
  background-color: transparent;
  border-radius: 14px;
}
/*Background dinamico de la barra superior con JQuery*/
.bg-primary{
  transition: all 1s ease;
  background-color: rgba(0, 188, 212,0.96) !important;
}
#menu .input-button-navbar{
  display:none;
}
#menu .input-button-navbar #search{
  opacity:0.9;
  position: absolute;
  top: 3px;
  left: 239px;
  font-size: 20px;
  border: 0;
  color: white;
  background-color: transparent;
  padding-left:5px;
}
#menu .input-button-navbar .form-control{
  color:white;
  background-color: transparent;
  border-radius: 35px;
  border: 1.6px solid rgba(255,255,255,0.7);
}
.form-control::placeholder {
  color:white;
}
#menu .logo img{
    width: 55%;
}
#menu .logo{
  text-align: center;
}
#menu .icono-shop-user i{
  color:white;
  font-size: 0.8em;
}
#menu .icono-shop-user .line{
  font-weight: 300;
  opacity: 0.3;
  font-size: 1.22em;
}
#menu .icono-shop-user .far{
  font-size: 0.9em;
}
#menu .icono-shop-user #cart-shop{
    font-size: 65%;
    position: absolute;
    top: 5px;
    right: 10px;
    color: aqua;
}
#menu .icono-shop-user #cart-shop span{
  position: absolute;
  font-size: 90%;
  z-index: 100;
  top:1px;
  right: 3px;
}
#menu .line-menu{
  background-color: transparent;
  color:white;
}
/*configuraciones dentro del area de carousel*/
#carouselExampleCaptions{
  width:100%;
}

/*estilos correspondientes al navbar que se usa con un modal emergente*/
.modal.fade .modal-dialog{
      -webkit-transform: translate(-400px,0);
    transform: translate(-400px, 0);
}

.modal.show .modal-dialog{
  -webkit-transform: none;
  transform:none;
}
.modal{
  overflow-y: scroll;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: hidden;
}
.modal .modal-dialog{
  max-width:70vw;
  margin:0;
}
.modal .modal-setup {
  height: 100vh;
  overflow-y: scroll;
  display:block;
}
.modal .modal-setup .modal-header .icons-navbar{
  display:inline-block;
}
.modal .modal-setup .modal-header .icons-navbar img{
  width:14%;
  margin:2px;
}
.modal .modal-dialog-scrollable .modal-content {
  max-height: 100vh;
  overflow:scroll;
  overflow-x:auto;
}
.modal-open {
  overflow: auto;
}
.modal .modal-header{
  flex-direction: column;
  width:100%;
  padding-bottom: 3px;
}
.modal .modal-header .close{
  padding: 0rem 0.5rem;
  font-size: 2.2rem;
}
.modal .modal-header .input-navbar{
  width:117%;
  padding-top:10px;
}
.modal .modal-header .input-navbar .form-control-navbar{
  width:100%;
  border:none;
  height: 40px;
  background-color: rgb(241, 243, 243);
}
.modal .modal-header #search{
  position: absolute;
  left:86%;
  top:29%;
  color:black;
  font-size: 20px;
  background: transparent;
  border:0;
}
.modal .modal-body .links-navbar ul{
  line-height: 40px;
  list-style: none;
}
.modal .modal-body .links-navbar ul a{
  color:black;
}
.modal .modal-body .links-navbar ul a:hover{
  text-decoration: none;
}
.modal .modal-body .links-navbar ul .arrows-navbar{
  margin-left: 102px;
}
.modal .modal-body .links-navbar .card-header{
  border-bottom: 0;
  background:white;
}
.modal .modal-footer .login-navbar li{
  list-style: none;
  display:inline-block;
}
.modal .modal-footer .login-navbar li a:hover{
  text-decoration: none;
  color:black;
}
/*scroll de la ventana principal en escritorio*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/*Estilos para tablet*/
@media(min-width:768px){   
#menu .icono-shop-user{
  font-size: 1.4em;
}
#menu .icono-shop-user a, #menu .icono-shop-user .line{
  transition: all 1s ease;
  visibility: visible !important;
}

#menu span.fas{
  transition: all 1s ease;
  font-size: 1.3em;
}
#menu .logo img{
  transition: all 1s ease;
  width: 30%;
}
#menu .icono-shop-user #cart-shop{
  top: 7px;
  right: 14px;
}
#menu .icono-shop-user #cart-shop span{
top:-0.5px;
right: 4px;
}
.modal .modal-dialog{
  max-width:40vw;
  margin:0;
}
.modal .modal-header .input-navbar{
  width:111%;
  padding-top:15px;
}
.modal .modal-header #search{
  left:89%;
  top:34%;
}
.modal .modal-body .links-navbar ul .arrows-navbar{
  margin-left: 186px;
}
}
/*Estilos para Escritorio*/
@media(min-width:992px){
  #menu .icono-shop-user{
    font-size: 1.85em;
  }
  #menu .icono-shop-user a, #menu .icono-shop-user .line{
    transition: all 1s ease;
    visibility: visible !important;
  }
  #menu span.fas{
    transition: all 1s ease;
    font-size: 1.9em;
  }
  #menu .logo img{
    transition: all 1s ease;
    width: 30%;
  }
  #menu .icono-shop-user #cart-shop{
    top: 10px;
    right: 37px;
  }
  #menu .icono-shop-user #cart-shop span{
  top:1px;
  right: 5px;
  } 
  #menu .input-button-navbar{
    display:flex;
  }
  #menu .input-button-navbar .form-control:focus{
    color: white;
    background-color:transparent;
    border-color:transparent;
  }
  .modal .modal-dialog{
    max-width:28vw;
    margin:0;
  }
  .modal .modal-header{
    flex-direction: column;
    width:100%;
    padding-bottom: 15px;
  }

  .modal .modal-header .login-navbar{
    display:flex !important;
    width:109%;
    justify-content: center;
  }
  .modal .modal-header .login-navbar li{
    list-style: none;
    display:inline-block;
  }
  .modal .modal-header .login-navbar li a:hover{
    text-decoration: none;
    color:black;
  }
  .modal .modal-body .links-navbar ul .arrows-navbar{
    margin-left: 250px;
  }
}