* {box-sizing: border-box;}

/*Source Sans Pro 300, 400 & 700*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

/*Architects Daugther 400*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*
font-family: 'Source Sans Pro';
font-family: 'Architects Daughter', cursive;
*/

/* Estructura general del documento */
body {
    max-width: 1440px;
    margin: auto;
}

.container-fluid {
    padding: 0px;
}

/* Header no completado -usado como referencia  */
header {
    height: 105px;
    border-bottom: 1px solid black;
}

div.nav {
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    border: none;
}

.user-btn {
    border: none;
}

.cart-btn {
    border: none;
}

/* ELEMENTO DE BUSQUEDA */
.search-bar {
    width: 442px;
    height: 44px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    border: 1px solid #707070;
    border-radius: 22px;
}

div form {
    padding-left: 12px;
}

.search-btn {
    border:none;
}

.form-search {
    border: none;
}

.form-search:focus {
    outline: none !important;
    border: none;
}

div.logo {
    display: flex;
    justify-content: center;
}

div.logo img {
    height: 105px;
}

div.nav-menu {
    font-size: 59px;
}

.search-bar {
    align-self: center;
}

div.nav-left {
    display: flex;
}

.nav-right {
    font-size: 59px;
    display: flex;
    justify-content: flex-end;
}

div.nav-right img {
    height: 60px;
    align-self: center;
    padding-left: 25.5px;
    padding-right: 25.5px;
}

div.blank-area {
    width: 100%;
    height: 60vh;
}

/* FOOTER */

footer {
    border-top: 1px solid black;
}

footer h4 {
    padding-bottom: 6%;
}

div.footer-elements {
    max-width: 1440px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

img.foot-separator {
    width: 1px;
    margin: 21px;
}

/* barra navegación rápida */
div.quick-nav {
    width: 50%;
    margin: auto;
}

.quick-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/* barra principal del footer */
.footer-main {
    justify-content: center;
}

div.pmts {
    display: flex;
    width: 100%;
    height: 25%;
}

div.pmts img {
    width: 25%;
    padding: 3px;
}

div.pmts img.large-ico {
    width: 40%;
}

div.pmts img.square-ico {
    width: 20%;
}

.about ul {
    list-style: none;
    text-align: left;
    margin: auto;
    width: fit-content;
    padding: 0px;
}

.about ul li {
    margin-right: 20px;
}

div.subscribe form {
    padding: 0px;
    text-align: left;
}

.form-newsletter {
    border-radius: 50px;
}

.form-newsletter:focus {
    outline: none !important;
}

div.subscribe button {
    border-radius: 50px;
}

div.social-med {
    text-align: left;
}

div.social-med img {
    width: 8%;
}

img.data-fiscal {
    position: absolute;
    width: 15%;
    right: 0;
    bottom: 0;
}

p.app-download {
    padding-top: 10%;
    color: black;
    text-align: left;
}

p.app-download a {
    color: black;
}

/* barra contácto rápido */

div.quick-contact {
    width: 80%;
    margin: auto;
}

.quick-contact ul {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: space-evenly;
}

.quick-contact ul li {
    display: flex;
    align-items: center;
}

li i.fas {
    color: black;
    font-size: xx-large;
    padding-right: 10px;
}

/* barra copyright */
div.copyright {
    text-align: right;
    font-weight: 100;
}


/* media queries */


@media(max-width: 768px){
    
    footer h4 {
        font-size: medium;
    }

    p.app-download {
        display: none;
    }

    .quick-contact {
        display: none;
    }

    div.copyright {
        text-align: center;
    }

    div.social-med {
        display: none;
    }
}


/* Estilos adicionales para sección de registro */

article.register {
    margin: auto;
    width: 50%;
}

p.bienvenido {
    margin-top: 10%;
    font-weight: 400;
    text-align: center;
}

div.register-area {
    display: flex;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-around;
    align-items: center;
}

div.register-ico {
    font-size: 40vh;
}

div.register-form {
    width: 60%;
}

form input {
    width: 40%;
}