
  /**  background-color: #7952B3  ;
    background: white;
    border: 1px solid #7952B3; **/
 

#list-none ul li{
    list-style: none;
}

.main-img{
    align-self: left;
}

.btn-primary {
    background-color: #7952B3;
    border-color: #7952B3;
    width: 150px;
    border-radius: 13px;
}

.size-icon {
    height: 150px ;
    width: 40px;
}

.align-right-icon{
    margin-right: 10px;
   /**justify-content: space-between; **/
}

#price-decoration{
    margin-bottom: -14px;
    font-size: 13px;
    text-decoration:line-through;
    text-decoration-color: red;
}

#circle-cloth{
   background-repeat: no-repeat;
   background-position: 50%;
   border-radius: 50%;
   background-size: 100% auto;

   margin-right: 10px;
   margin-bottom: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
    
.size-color-icon i{
    font-size: 20px;
    color: black;
}

.ubicar-icons{
    margin-top: 10px;
}

.details-secondary-level p{
    font-size: 10px;
    color: gray;
    margin-bottom: 2px;
}

.box-in-middle{
    padding: 10px;
    border: 5px;
    width: 500px;
    height: 200px;
}

.box-in-middle div{
    justify-content: space-between;
    margin: 2px 2px;
}

.situate-left{
    justify-content: flex-start;
    padding: 20px;
    border: 5px;
    width: 500px;
    height: 250px;
    margin: 0px 35px;
}

.situate-right{
    justify-content: flex-end;
    padding: 20px;
    border: 5px;
    width: 500px;
    height: 250px;
    margin: 0px 35px;
}

.line-up{
    border-top: 1px #7952B3 solid;
    margin-top: 30px;
}

.complete-look{
    margin-top: 10px;    
}

.complete-look div img{
    margin: 0px 15px;
}

#align-center-subtitle{
    text-align: center;
}

.align-left-subtitle{
    text-align: left;
}

.design-to-size{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Estilos para celulares*/
@media(min-width:320px){
    section .main-img img { 
        /*transition: all 1s ease; */
        width: 50%;
        height: 280px;
    }

    section .clothes-main-title p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    #price-decoration{
        margin-bottom: -20px;
        font-size: 10px;
        text-decoration:line-through;
        text-decoration-color: red;
    }

    div #price p{
        font-size: 15px;
    }

    #circle-cloth{
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;   
        margin-right: 10px;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;
     }

    #align-to-size{
        margin-top: -25px;
    }

    .align-to-shop i{
        margin-top: 12px;
    }
}

/*Estilos para tablet*/
@media(min-width:768px) {
    section .main-img img { 
        /*transition: all 1s ease; */
        width: 80%;
        height: 60%;
      }
}
