
  /**  background-color: #7952B3  ;
    background: white;
    border: 1px solid #7952B3; **/
 

#list-none ul li{
    list-style: none;
}

.main-img{
    align-self: center;
}

.btn-primary {
    background-color: #7952B3;
    border-color: #7952B3;
    margin-left: 5px;
}

.size-icon {
    height: 40 ;
    width: 40;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
    
.novedades{
    
}
.novedades i{
    font-size: 25px;
   color: black;
}