.details-secondary-level p{
    font-size: 10px;
    color: gray;
    margin-bottom: 2px;
}

#price-decoration{
    margin-bottom: -14px;
    font-size: 13px;
    text-decoration:line-through;
    text-decoration-color: red;
}

.boton-100 button{
    height: 30px;
    width: 315px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 13px;
    background-size: 100% auto;
    background-color: #7952B3  ;
    color: white;
}

.boton-80 input{
    height: 30px;
    width: 230px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 13px;
    background-size: 100% auto;
    background-color: white ;
    color: #7952B3;
}

.boton-20 button{
    height: 30px;
    width: 75px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 13px;
    background-size: 100% auto;
    background-color: white;
    color: #7952B3;
}

.boton-100-claro button{
    height: 30px;
    width: 315px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 13px;
    background-size: 100% auto;
    background-color:  #c7c0d1;  ;
    color: white;
}

p{
    font-family: 'Source Sans Pro', sans-serif;;
}

.cuotas{
    font-size: 13px;
    padding-top: -15px;
    text-decoration: underline;
}