.container-body{
    align-content: space-between;
    width: 100%;
    margin-top: 2%;
}

.container-space{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;    
}


.row{
    display: flex;
    flex-wrap: wrap;
}



.row-space{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.caja{
    width: 30%;
    margin: 0px 10px 10px 10px;
}

.flotar{
    width: 75%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.f1{
    display: flex;
    justify-content: start;
    align-content: flex-start;

}

.f2{
    display: flex;
    justify-content: end;
    align-content: flex-end;
}


.art4{
    margin-right: 15px;
    justify-content: end;
}

.f1 img{
    padding:10px;
}

.f2 img{
    padding:10px;
}

.center{
    justify-content: end;
}
.masVendidos{
    margin: auto;
}

.art5{
    width: 75% ;
}

.art5 .center{
    width: 60%;
}

body{
    align-items: center;
    margin: 0% 20%;
    margin-bottom: 60px;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

button{
    height: 40px;
    width: 250px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 13px;
    background-size: 100% auto;
    background-color: #7952B3  ;
    color: white;
}


select {
    background: white;
    border: 1px solid #7952B3;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 48%;
    margin-bottom: 10px;
 }








#uno{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
}

#dos{
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
}

.muestra img{
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    align-self: center;
    padding: 0% 30%;
}

#centrar{
    padding: 0% 20%;
    font-family: 'Source Sans Pro', sans-serif;
}

.red{
    font-size: 20px;
}

.tachado{
    margin-bottom: -14px;
    font-size: 13px;
    text-decoration:line-through;
    text-decoration-color: red;
}

.descripcion{
    margin-bottom: -14px;
    font-size: 13px;
    color: gray;
}

.look{
    margin-top: 24px;
    font-style: italic;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}

#seccion1{
    position: absolute;
}

#seccion2{
}


@media(min-width:992){

    #seccion2{
        position: relative;
        right: -110px;
    }
}
