.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#content {
  background-color: #ffffff;
  width: 100%;
}

.sidebar {
  /* background-color: rgb(0, 187, 212); */
  /*background-image: linear-gradient(to right, rgba(0, 187, 212, 0.4), rgb(0, 187, 212));*/
  background-color: rgb(0, 187, 212);
  color: #7e7e7e;

}

.sidebar a {
  color: #0d0083;
}

.sidebar a:hover {
  color: #ffffff;
}

.navbar {
  color: #0d0083;
  background-color: rgb(0, 187, 212);
}

.navbar a {
  color: #0d0083;
}

.navbar a:hover {
  color: #ffffff;
}

.notFound {
  color : rgb(255,0,0)
}