<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container modas-cart">
        <p class="intro" ></p>
        
        <div class="mt-3 register-area">
            <div class="container modas-cart-box">
                <div class="container">
                                      
                    <div class="container-details-cart">
                        <section class="container content-section modas-hide">
                
                            <h1>Tu carrito</h1>
                            <hr>
                            <div class="cart-view">

                            </div>

                            <br>
                            <div class="cart-total">
                                <strong class="cart-total-title">Total:</strong>
                                <span class="cart-total-price">$0</span>
                            </div>

                            <button class="btn btn-primary btn-purchase" type="button">Comprar</button>

                        </section>
                        <section class="modas-empty-cart modas-hide">
                            <br>
                            <div class="cart-view">
                                <hr>
                                <center><h1>Tu carrito está vacío</h1></center>
                                <hr>
                            </div>

                            <br>
                            
                            <button onclick="location.href = '/products';" class="btn btn-primary btn-purchase" type="button">Empezar a comprar</button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    
    <!--Footer de la página-->
    <%- include('./partials/footer') %>
</body>
</html>