<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <!--Area de administración/alta de artículos-->
    <%- include('partials/header') %>
    <div class="contents-box">
        <div class="container admin">
            <div class="adm-title">
                <h1>Alta de artículos nuevos</h1>
                <img class="logo" src="/images/icons/logo.png" alt="logo-modasemilse" srcset="">
            </div>
            <form action="/products/create" class="row admin-addproduct" enctype="multipart/form-data" method="POST" novalidate>
                <div class="col-3 admin-addphotos">
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="imagen-producto" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="imagen-producto" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                    <div class="card">
                        <input required type="file" id="imagen-producto" name="imagen-producto" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                        <img id="custom-button" src="/images/placeholder.png" class="card-img-top" alt="..." title="Selecciona una foto">
                        <div class="photo-menu">
                            <i class="far fa-trash-alt"></i>
                            |
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8 admin-form">
                    <div class="form-header">
                        <div class="row form-group new-product-code"> 
                            <label class="col-2" for="codigo">Código |</label>
                            <input required type="text" class="col-2 form-control" id="codigo" name="idArticle">
                        </div>

                        <div class="sex-select">
                            <input type="checkbox" name="gender" id="mujer">Mujer
                            <input type="checkbox" name="hombre" id="hombre">Hombre
                            <input type="checkbox" name="mujer" id="mujer">Unisex
                        </div>
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="titulo">Nuevo título</label>
                        <input type="text" class="col form-control" name="title" id="title" placeholder="Titulo del producto">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="detalle">Descripción</label>
                        <input type="text" class="col form-control" name="description" id="detalle" placeholder="Agregar descripción breve">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="tipo">Tipo</label>
                        <input type="text" class="col form-control" name="type" id="tipo" placeholder="Agregar tipo de artículo">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="talles">Talles</label>
                        <input type="number" class="col form-control" name="talle" id="talles" placeholder="Talles disponibles, separar con comas">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="colores">Colores</label>
                        <input type="text" class="col form-control" name="colour" id="colores" placeholder="Colores disponibles, separar con comas">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="estampados">Estampados</label>
                        <input type="text" class="col form-control" name="print" id="estampados" placeholder="Ingrese estampados">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="unidades">Unidades disponibles</label>
                        <input required type="number" class="col form-control" id="unidades" name="unit" placeholder="Ingrese unidades disponibles">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="precio-menor">Precio menor</label>
                        <input required type="number" class="col form-control" id="precio-menor" name="price" placeholder="Ingrese precio menor">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="precio-mayor">Precio mayor</label>
                        <input required type="number" class="col form-control" id="precio-mayor" name="priceDiscount" placeholder="Ingrese precio mayor">
                    </div>

                    <div class="form-group row"> 
                        <label class="col-4" for="fecha">Fecha</label>
                        <input type="text" class="col form-control" placeholder="Seleccione una fecha" name="fecha" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>

                </div>

                <div class="col-12 row form-group admin-form-options">
                    <button type="button" class="col-3">
                        Agregar más fotos
                    </button>

                    <button type="button" class="col-3">
                        <b>Vista previa <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></b>
                    </button>

                    <button type="submit" class="col-3">
                        <b>Agregar <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></b>
                    </button>

                    <button type="reset" class="col-3">
                        <b>Cancelar <i class="fas fa-times"></i></b>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--Footer de la página-->
    <script>
        // Script para boton de carga de imagenes
        const realFileBtn = document.getElementById("imagen-producto");
        const customBtn = document.getElementById("custom-button");

        customBtn.addEventListener("click", function() {
        realFileBtn.click();
        });
    </script>
    <%- include('./partials/footer') %>
</body>
</html>