<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container register">
        <p class="intro" >Bienvenidos a <i>Modas Emilse</i>, registrate para disfrutar de todas nuestras novedades.</p>
        <div class="mt-3 register-area">
            <div class="container register-form">
                <div class="container">
                    <%if(typeof errors!='undefined'){%>
                        <center>
                        <p>
                            <ul style="color:red; font-size:1.2rem; list-style: none;">
                                <%for(let i=0;i<errors.length;i++){%>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <%}%>
                            </ul>
                        </p>
                        </center>
                    <%}%>
                    <form action="/users/register" class="row container" method="POST" enctype="multipart/form-data">
                        <div class="col-md-3"> 
                            <input required type="file" id="avatar" name="avatar" hidden="hidden" accept="image/x-png,image/gif,image/jpeg"/>
                            <button type="button" id="custom-button"><img src="../images/icons/user-circle.png" title="Selecciona tu avatar" width="100%"></button>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group row"> 
                                <input required type="text" class="col-5 form-control" id="formInput29" name="firstName" placeholder="Nombre">
                                <input required type="text" class="col-5 form-control" id="formInput29" name="lastName" placeholder="Apellido"> 
                            </div>
                            <div class="form-group row"> 
                                <input  type="email" class="col-5 form-control" name="email" id="email" placeholder="Correo">
                                <input required type="password" class="col-5 form-control" name="password" id="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group row"> 
                                <input required type="text" class="col-5 form-control" name="nacimiento" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')">
                                <select required class="col-5 form-control" id="sexo" name="sexo">
                                    <option value="" disabled selected hidden>Sexo</option>
                                    <option value="mujer">Mujer</option>
                                    <option value="hombre">Hombre</option>
                                </select>
                            </div>
                            <center>
                                <input type="checkbox" name="newsletter" id="newsletter"> Deseo recibir ofertas personalizadas
                            </center>
                            <br/>
                            <div class="form-group row">
                                <button type="submit" class="col-12" data-toggle="modal" data-target="#exampleModal">
                                    Registrarme <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
                                </button>
                            <!-- Modal -->
                                <!--
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <center><img src="../public/../public/images/icons/logo.png" width="30%"></center>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="row modal-body">
                                            <div class="col-12">¡Gracias por registrarte!, te hemos enviado un email de bienvenida.</div>
                                            <button type="button" class="col-12">Volver al inicio</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Footer de la página-->
    <script>
        // Script para boton de carga de avatar

        const realFileBtn = document.getElementById("avatar");
        const customBtn = document.getElementById("custom-button");

        customBtn.addEventListener("click", function() {
        realFileBtn.click();
        });
    </script>
    <%- include('./partials/footer') %></body>
</html>
