<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Modas Emilse | Registro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Estilos personalizados -->
        <link rel="stylesheet" href="../public/stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    
    <body>
        <div class="container register">
            <p class="intro" >Bienvenidos a <i>Modas Emilse</i>, registrate para disfrutar de todas nuestras novedades.</p>
            <div class="mt-3 register-area">
                <div class="container register-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"> 
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 496 512">
                                    <path fill="currentColor" d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"></path>
                                </svg>
                            </div>
                            <form class="col-md-8 container ">
                                <div class="form-group row"> 
                                    <input type="text" class="col-6 form-control" id="formInput29" placeholder="Nombre">
                                    <input type="text" class="col-6 form-control" id="formInput29" placeholder="Apellido"> 
                                </div>
                                <div class="form-group row"> 
                                    <input required type="email" class="col-6 form-control" name="mail" id="mail" placeholder="Correo">
                                    <input required type="password" class="col-6 form-control" name="password" id="password" placeholder="Contraseña">
                                </div>
                                <div class="form-group row"> 
                                    <input type="text" class="col-6 form-control" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')">
                                    <select required class="col-6 form-control" id="sexo">
                                        <option value="" disabled selected hidden>Sexo</option>
                                        <option value="mujer">Mujer</option>
                                        <option value="hombre">Hombre</option>
                                    </select>
                                </div>
                                <center>
                                    <input type="checkbox" name="newletter-yes" id="newletter-yes"> Deseo recibir ofertas personalizadas
                                </center>
                                <br/>
                                <div class="form-group row">
                                    <button type="submi" class="col-12" data-toggle="modal" data-target="#exampleModal">
                                        <b>Registrarme >></b>
                                    </button>
                                <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <center><img src="../public/../public/images/icons/logo.png" width="30%"></center>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="row modal-body">
                                                <div class="col-12">¡Gracias por registrarte!, te hemos enviado un email de bienvenida.</div>
                                                <button type="button" class="col-12">Volver al inicio</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Inicio Footer-->
        <footer class="footer">
            <div class="container"></div>
            <ul class="nav"> 
                <li class="nav-item"> 
                    <a class="nav-link active" href="#">INICIO</a> 
                </li>                 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">TIENDA</a> 
                </li>                 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">CONTACTO</a> 
                </li>                 
            </ul>
            <div class="row main-container">
                <div class="container col-4  pmts">
                    <h5>Medios de pago</h5>
                    <div class="row">
                        <div class="col-md-3"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-visa.png" alt="">
                        </div>
                        <div class="col-md-3"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-amex.png" alt="">
                        </div>
                        <div class="col-md-3"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-diners.png" alt="">
                        </div>
                        <div class="col-md-3"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-mastercard.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-mercadopago.png" alt="">
                        </div>
                        <div class="col-md-3"> 
                            <center>
                                <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-pagofacil.png" alt="">
                            </center>
                        </div>
                        <div class="col-md-5"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-rapipago.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="container col-4 about">
                    <h5>Sobre la empresa</h5>
                    <ul> 
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">Consejos</a></li>                         
                    </ul>
                </div>
                <div class="container col-4 subscribe">
                    <h5>Suscribete</h5>
                    <form class="align-items-center align-middle form-group justify-content-around row"> 
                        <input type="email" class="col-7 form-control" id="formInput17" placeholder="E-mail">
                        <button type="button" class="col-2 btn btn-light">Soy mujer</button>
                        <button type="button" class="col-2 btn btn-light">Soy hombre</button>
                    </form>
                    <div class="social-icos">
                        <a href="#"><img class="w-100" src="../public/images/icons/facebook.ico" alt="Facebook"></a>
                        <a href="#"><img class="w-100" src="../public/images/icons/twitter.ico" alt="Twitter"></a>
                        <a href="#"><img class="w-100" src="../public/images/icons/instagram.ico" alt="Instagram"></a>
                    </div>
                    <img class="data-fiscal" src="../public/images/icons/data-fiscal.png" alt="">
                    <p class="app-download"> <a href="#"><i class="fab fa-android"></i></a> Descarga grátis la app de Modas Emilse <a href="#"><i class="fab fa-apple"></i></a> </p>
                </div>
            </div>

            <div class="row main-container-mobile">
                <div class="row container col-12 subscribe-special">
                    <div class="col-12">
                        <h5>Suscribete</h5>
                    </div>
                    <form class="col-12 align-items-center align-middle form-group justify-content-around row"> 
                        <input type="email" class="col-12 form-control" id="formInput17" placeholder="E-mail">
                        <br>
                        <button type="button" class="col-6 btn btn-light">Soy mujer</button>
                        <button type="button" class="col-6 btn btn-light">Soy hombre</button>
                    </form>
                    <div class="social-icos">
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/facebook.ico" alt="Facebook"></a>
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/twitter.ico" alt="Twitter"></a>
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/instagram.ico" alt="Instagram"></a>
                    </div>
                </div>
                <div class="container col-6 about">
                    <h5>Sobre la empresa</h5>
                    <ul> 
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">Consejos</a></li>                         
                    </ul>
                </div>
                <div class="container col-6 quick">
                    <ul> 
                        <li class="nav-item"> 
                            <a class="nav-link active" href="#">INICIO</a> 
                        </li>                         
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">TIENDA</a> 
                        </li>                         
                        <li class="nav-item"> 
                            <a class="nav-link" href="#">CONTACTO</a> 
                        </li>                         
                    </ul>
                </div>
                <div class="container col-6 subscribe">
                    <h5>Suscribete</h5>
                    <form class="align-items-center align-middle form-group justify-content-around row"> 
                        <input type="email" class="col-7 form-control" id="formInput17" placeholder="E-mail">
                        <button type="button" class="col-2 btn btn-light">Soy mujer</button>
                        <button type="button" class="col-2 btn btn-light">Soy hombre</button>
                    </form>
                    <div class="social-icos">
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/facebook.ico" alt="Facebook"></a>
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/twitter.ico" alt="Twitter"></a>
                        <a href="#"><img class="w-100 img-thumbnail" src="../public/images/icons/instagram.ico" alt="Instagram"></a>
                    </div>
                </div>
                <div class="container col-12  pmts">
                    <div class="row">
                        <div class="col-md-2 col-2"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-visa.png" alt="">
                        </div>
                        <div class="col-md-2 col-2"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-amex.png" alt="">
                        </div>
                        <div class="col-md-2 col-2"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-diners.png" alt="">
                        </div>
                        <div class="col-md-2 col-2"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-mastercard.png" alt=""> 
                        </div>
                        <div class="col-md-2 col-2"> 
                            <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-mercadopago.png" alt="">
                        </div>
                        <div class="col-md-2 col-2"> 
                            <center>
                                <img class="w-100 img-thumbnail" src="../public/images/icons/pmt-pagofacil.png" alt="">
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav bottom"> 
                <li class="nav-item"> 
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel:+4442-6950">4442-6950</a>
                </li>                 
                <li class="nav-item"> 
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:modasemilse@gmail.com">modasemilse@gmail.com</a> 
                </li>                 
                <li class="nav-item"> 
                    <i class="fas fa-map-marker-alt"></i> 
                    <a href="https://goo.gl/maps/83qyLz1vowkC9u9n6" target="_blank">Joaquin V Gonzales</a>
                </li>                 
            </ul>
            <div class="copyright">Todos los derechos reservados a @Emilse</div>
        </footer>

        <!--SCRIPTS-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>