<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container modas-userPanel">
        <p class="intro" ></p>
        
        <div class="mt-3 modas-userPanel-area">
            <div class="container modas-userPanel-info">
                <div class="container">
                    <div class="row">
                        <div class="col-3 modas-userPanel-menu">
                            <p><strong><a href="/users/account" class="modas-userPanel-link">MI CUENTA</a></strong></p>
                            <ul class="modas-list">
                                <li><a href="/users/account/orders" class="modas-userPanel-link">Mis pedidos</a></li>
                                <li><a href="/users/account/favorites" class="modas-userPanel-link">Favoritos</a></li>
                            </ul>
                        </div>

                        <div class="col">
                            <div>
                                <h1 class="modas-userPanel-title"><i class="fas fa-chevron-right"></i> Favoritos</h1>
                                <p class="intro" ></p>
                                <hr>
                            </div>

                            <div>
                                <section>
                                    <img src="/images/products/pict1.jpg" class="img-responsive" alt="" height="100" width="80">
                                </section>
                                <section>
                                    <p>Vestido Estampado Azul</p>
                                    <p> $999</p>
                                </section>                                    
                                <section>

                                </section>
                            </div>

                            <div>
                                <p class="modas-userPanel-title">ACCESOS RÁPIDOS</p>

                                <ul class="modas-list">
                                    <li><a href="#" class="modas-userPanel-link">&raquo; Descargar todas las facturas</a></li>
                                    <li><a href="#" class="modas-userPanel-link">&raquo; Tengo problemas con un pedido</a></li>
                                </ul>                           
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer de la página-->
    <%- include('./partials/footer') %></body>
</html>