<!DOCTYPE html>
<html lang="es">
    <!--Head de la página-->
    <%- include('./partials/head') %>
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
<body>
    <%- include('partials/header') %>
    <div class="container modas-userPanel">
        <p class="intro" ></p>
        
        <div class="mt-3 modas-userPanel-area">
            <div class="container modas-userPanel-info">
                <div class="container">
                    <div class="row">
                        <div class="col-3 modas-userPanel-menu">
                            <p><strong><a href="/users/account" class="modas-userPanel-link">MI CUENTA</a></strong></p>
                            <ul class="modas-list">
                                <li><a href="/users/account/orders" class="modas-userPanel-link">Mis pedidos</a></li>
                                <li><a href="/users/account/favorites" class="modas-userPanel-link">Favoritos</a></li>
                            </ul>
                        </div>

                        <div class="col">
                            <div>
                                <h1 class="modas-userPanel-title"><i class="fas fa-chevron-right"></i> Favoritos</h1>
                                <p class="intro" ></p>
                                <hr>
                            </div>

                            <div>
                                <table class="table">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Talle</th>
                                        <th scope="col">Ver</th>
                                        <th scope="col">Comprar</th>
                                        <th scope="col">Eliminar</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row"> <img src="/images/products/pict1.jpg" class="img-responsive" alt="" height="100" width="80"> </th>
                                        <td><p>Vestido estampado</p></td>
                                        <td>$1.299</td>
                                        <td>
                                            <div class="form-row align-items-center" id="align-to-size">
                                                <div class="col-auto my-1 size-to-botton">
                                                    <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                            <option selected>Talle</option>
                                                            <option value="1">M</option>
                                                            <option value="2">L</option>
                                                            <option value="3">XL</option>
                                                            <option value="4">XXL</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-link"><p>Detalle</p></button>               
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary-violet"><p>Añadir al carrito</p></button>
                                        </td>
                                        <td>
                                            <a href="#"><img src="/images/icons/tachobasura.png" class="img-responsive" alt="" height="20" width="20"></a>
                                        </td>                                    
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <p class="modas-userPanel-title">ACCESOS RÁPIDOS</p>

                                <ul class="modas-list">
                                    <li><a href="#" class="modas-userPanel-link">&raquo; Descargar todas las facturas</a></li>
                                    <li><a href="#" class="modas-userPanel-link">&raquo; Tengo problemas con un pedido</a></li>
                                </ul>                           
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer de la página-->
    <%- include('./partials/footer') %></body>
</html>