<footer>
    <div class="footer-elements">
        <div class="quick-nav">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">TIENDA</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </div>

        <div class="row footer-main">
            <div class="col-3 payments">
                <h4>Medios de pago</h4>
                <div class="pmts">
                  <img src="images/icons/pmt-visa.png" alt="Visa">
                  <img src="images/icons/pmt-amex.png" alt="American Express">
                  <img src="images/icons/pmt-diners.png" alt="Diners Club">
                  <img src="images/icons/pmt-mastercard.png" alt="MasterCard">
                </div>
                <div class="pmts">
                  <img class="large-ico" src="images/icons/pmt-mercadopago.png" alt="Visa">
                  <img class="square-ico" src="images/icons/pmt-pagofacil.png" alt="American Express">
                  <img class="large-ico" src="images/icons/pmt-rapipago.png" alt="Diners Club">
                </div>
            </div>
            <img class="foot-separator" src="/images/icons/SeparatorNav.png" alt="" srcset="">
            <div class="col-3 about">
                <h4>Sobre la empresa</h4>
                <ul>
                    <li>Locales</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Quiénes somos</li>
                    <li>Consejos</li>
                </ul>
            </div>
            <img class="foot-separator" src="/images/icons/SeparatorNav.png" alt="" srcset="">
            <div class="col-3 subscribe">
                <h4>Suscribite</h4>
                <form>
                    <input class="form-newsletter" type="email" name="" id="" placeholder="Email" size="25">
                    <button class="female-btn">Soy mujer</button> <button class="male-btn">Soy hombre</button>
                </form>
                <div class="social-med">
                  <a href="#"><img src="images/icons/facebook.ico" alt="Facebook"></a>
                  <a href="#"><img src="images/icons/twitter.ico" alt="Facebook"></a>
                  <a href="#"><img src="images/icons/instagram.ico" alt="Facebook"></a>
                </div>
                <img class="data-fiscal" src="images/icons/data-fiscal.png" alt="">
                <p class="app-download"><a href="#"><i class="fab fa-android"></i></a> Descarga grátis la app de Modas Emilse <a href="#"><i class="fab fa-apple"></i></a></p>
            </div>
        </div>

        <div class="quick-contact">
            <ul>
                <li><i class="fas fa-phone-alt"></i><a href="tel:+4442-6950">4442-6950</a></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:modasemilse@gmail.com">modasemilse@gmail.com</a></li>
                <li><i class="fas fa-map-marker-alt"></i> <a href="https://goo.gl/maps/83qyLz1vowkC9u9n6" target="_blank">Joaquin V Gonzales</a></li>
            </ul>
        </div>
        <div class="copyright">Todos los derechos reservados a @Emilse</div>
    </div>
</footer>