<!--Inicio Footer-->
<footer class="footer">
    <div class="container"></div>
    <ul class="nav"> 
        <li class="nav-item"> 
            <a class="nav-link active" href="/">INICIO</a> 
        </li>                 
        <li class="nav-item"> 
            <a class="nav-link" href="/products/">TIENDA</a> 
        </li>                 
        <li class="nav-item"> 
            <a class="nav-link" href="/support/">CONTACTO</a> 
        </li>                 
    </ul>
    <div class="row main-container">
        <div class="container col-4  pmts">
            <h5>Medios de pago</h5>
            <div class="row">
                <div class="col-md-3"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-visa.png" alt="">
                </div>
                <div class="col-md-3"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-amex.png" alt="">
                </div>
                <div class="col-md-3"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-diners.png" alt="">
                </div>
                <div class="col-md-3"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-mastercard.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-mercadopago.png" alt="">
                </div>
                <div class="col-md-3"> 
                    <center>
                        <img class="w-100 img-thumbnail" src="/images/icons/pmt-pagofacil.png" alt="">
                    </center>
                </div>
                <div class="col-md-5"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-rapipago.png" alt="">
                </div>
            </div>
        </div>
        <div class="container col-4 about">
            <h5>Sobre la empresa</h5>
            <ul> 
                <li><a href="/support/">Locales</a></li>
                <li><a href="/support/">Preguntas Frecuentes</a></li>
                <li><a href="/support/">Quiénes somos</a></li>
                <li><a href="/support/">Consejos</a></li>                         
            </ul>
        </div>
        <div class="container col-4 subscribe">
            <h5>Suscribete</h5>
            <form class="align-items-center align-middle form-group justify-content-around row"> 
                <input type="email" class="col-7 form-control" placeholder="E-mail">
                <button type="button" class="col-2 btn btn-light">Soy mujer</button>
                <button type="button" class="col-2 btn btn-light">Soy hombre</button>
            </form>
            <div class="social-icos">
                <a href="#"><img class="w-100" src="/images/icons/facebook.ico" alt="Facebook"></a>
                <a href="#"><img class="w-100" src="/images/icons/twitter.ico" alt="Twitter"></a>
                <a href="#"><img class="w-100" src="/images/icons/instagram.ico" alt="Instagram"></a>
            </div>
            <img class="data-fiscal" src="/images/icons/data-fiscal.png" alt="">
            <p class="app-download"> <a href="#"><i class="fab fa-android"></i></a> Descarga grátis la app de Modas Emilse <a href="#"><i class="fab fa-apple"></i></a> </p>
        </div>
    </div>
    
    <div class="row main-container-mobile">
        <div class="row container col-12 subscribe-special">
            <div class="col-12">
                <h5>Suscribete</h5>
            </div>
            <form class="col-12 align-items-center align-middle form-group justify-content-around row"> 
                <input type="email" class="col-12 form-control" placeholder="E-mail">
                <br>
                <button type="button" class="col-6 btn btn-light">Soy mujer</button>
                <button type="button" class="col-6 btn btn-light">Soy hombre</button>
            </form>
            <div class="social-icos">
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/facebook.ico" alt="Facebook"></a>
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/twitter.ico" alt="Twitter"></a>
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/instagram.ico" alt="Instagram"></a>
            </div>
        </div>
        <div class="container col-6 about">
            <h5>Sobre la empresa</h5>
            <ul> 
                <li><a href="/support/">Locales</a></li>
                <li><a href="/support/">Preguntas Frecuentes</a></li>
                <li><a href="/support/">Quiénes somos</a></li>
                <li><a href="/support/">Consejos</a></li>                         
            </ul>
        </div>
        <div class="container col-6 quick">
            <ul> 
                <li class="nav-item"> 
                    <a class="nav-link active" href="/">INICIO</a> 
                </li>                         
                <li class="nav-item"> 
                    <a class="nav-link" href="/products/">TIENDA</a> 
                </li>                         
                <li class="nav-item"> 
                    <a class="nav-link" href="/support/">CONTACTO</a> 
                </li>                         
            </ul>
        </div>
        <div class="container col-6 subscribe">
            <h5>Suscribete</h5>
            <form class="align-items-center align-middle form-group justify-content-around row"> 
                <input type="email" class="col-7 form-control" placeholder="E-mail">
                <button type="button" class="col-2 btn btn-light">Soy mujer</button>
                <button type="button" class="col-2 btn btn-light">Soy hombre</button>
            </form>
            <div class="social-icos">
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/facebook.ico" alt="Facebook"></a>
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/twitter.ico" alt="Twitter"></a>
                <a href="#"><img class="w-100 img-thumbnail" src="/images/icons/instagram.ico" alt="Instagram"></a>
            </div>
        </div>
        <div class="container col-12  pmts">
            <div class="row">
                <div class="col-md-2 col-2"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-visa.png" alt="">
                </div>
                <div class="col-md-2 col-2"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-amex.png" alt="">
                </div>
                <div class="col-md-2 col-2"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-diners.png" alt="">
                </div>
                <div class="col-md-2 col-2"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-mastercard.png" alt=""> 
                </div>
                <div class="col-md-2 col-2"> 
                    <img class="w-100 img-thumbnail" src="/images/icons/pmt-mercadopago.png" alt="">
                </div>
                <div class="col-md-2 col-2"> 
                    <center>
                        <img class="w-100 img-thumbnail" src="/images/icons/pmt-pagofacil.png" alt="">
                    </center>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav bottom"> 
        <li class="nav-item"> 
            <i class="fas fa-phone-alt"></i>
            <a href="tel:+4442-6950">4442-6950</a>
        </li>                 
        <li class="nav-item"> 
            <i class="fas fa-envelope"></i>
            <a href="mailto:modasemilse@gmail.com">modasemilse@gmail.com</a> 
        </li>                 
        <li class="nav-item"> 
            <i class="fas fa-map-marker-alt"></i> 
            <a href="https://goo.gl/maps/83qyLz1vowkC9u9n6" target="_blank">Joaquin V Gonzales</a>
        </li>                 
    </ul>
    <div class="copyright">Todos los derechos reservados a @Emilse</div>
</footer>

<!--SCRIPTS-->
<script src="/javascripts/validator.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    $(window).scroll(function() {
      if ($("#menu").offset().top > 120){
          $("#menu").addClass("bg-primary shadow");
      } else {
          $("#menu").removeClass("bg-primary shadow");
      }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/javascripts/category.js"></script>