

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3> MEDIOS DE PAGO</h3>
                        <div> 
                            <img src="../img/visa.png" alt="visa" height="40" width="40">
                            <img src="../img/americanExpress.png" alt="american express" height="40" width="40">
                            <img src="../img/dinersClub.png" alt="diners club" height="40" width="40">
                            <img src="../img/masterCard.jpg" alt="master card" height="40" width="40">
                            <img src="../img/MercadoPago.png" alt="mercado pago" height="40" width="60">
                            <img src="../img/pagoFacil.png" alt="pago facil" height="40" width="40">
                            <img src="../img/rapipago.jfif" alt="rapipago" height="40" width="60">
                        </div>
                </div>

                </div class="col-4">
                    <h3>SOBRE LA EMPRESA</h3>
                        <a href="url">Locales</a>
                        <a href="url">Consejos</a>
                        <a href="url">Quiénes somos</a>
                        <a href="url">Preguntas frecuentes</a>             
                </div>

                <div class="col-4">
                    <h3>SUSCRIBETE</h3>
                    <form action="" method="GET" class="search-form">
                        <input type="email" name="email" placeholder="E-mail" class="search-form_input">
                        <label> <input type="submit" name="boton" value="Soy mujer"></label>
                        <label> <input type="submit" name="boton" value="Soy hombre"></label>
                    </form>

                    <div class="redes-sociales">
                        <a target="" href="https://www.facebook.com/Farmacity/"><i class="fab fa-facebook"></i></a>
                        <a target="" href="https://www.facebook.com/Farmacity/"><i class="fab fa-twitter"></i></a>
                        <a target="" href="https://www.facebook.com/Farmacity/"><i class="fab fa-instagram"></i></a>

                    </div>

                    <div class="descargar-app">
                        <a target="" href="https://www.facebook.com/Farmacity/"><i class="fab fa-android"></i></i>Descarga gratis la app de Modas Emilse<i class="fab fa-apple"></i></a>

                    </div>

                    <div class="data-fiscal">
                        <img src="../img/dataFiscal.jfif" alt="data fiscal" height="60" width="40">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a target="" href="https://www.facebook.com/Farmacity/"><i class="fas fa-map-marker-alt"></i></i>Joaquín B. Gonzalez 460</a>
                </div>

                <div class="col-4">
                    <a href="#"><i class="fas fa-phone-alt"></i>15 3727 7657</a>
                </div>

                <div class="col-4"> 
                    <a href="#"><i class="far fa-envelope"></i>emilsemodas@gmail.com</a>
                </div>
            </div>
        </div>

        <div>
            <p>Todos los derechos reservados@Emilse</p>
        </div>